<!DOCTYPE html>
<html>
    <head>
        <title>People Finder</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>
    <body>
        <h1>People Finder</h1>
        <main>
            {{{body}}}
        </main>
    </body>
</html>