html,
body {
    font-size: 14pt;
    height: auto;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

header {
    overflow: hidden;
    background-color: #e9e9e9;
    color: black;
    width: auto;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
    /* only for demonstration, should be removed */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
}

.post {
    width: 75%;
    border-bottom: 1px dashed #333;
}

.new-post-form {
    max-width: 300px;
}

.new-post-form .full-width-input {
    display: block;
    min-height: 3em;
    margin: 10px 0;
    width: 100%;
}

label {
    font-weight: bold;
    text-align: center;
}

.error-list li {
    color: #ff0000;
}

.author-link,
.author-link:link {
    color: #228b22;
}

.author-link:visited {
    font-style: italic;
}

.author-link:hover {
    font-style: normal;
    font-weight: 700;
}

.author-link:active {
    color: #ff0000;
}

p .not-found {
    color: #ff0000;
    background-color: #333;
}

footer {
    overflow: hidden;
    background-color: #e9e9e9;
    color: black;
    width: auto;
}

a:link,
a:visited,
button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

a:hover,
a:active,
button:hover {
    background-color: rgb(65, 76, 241);
}

form {
    display: inline-flex;
    text-align: left;
}

input[type=text] {
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 10px 10px 20px;
}

#right {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}