<!DOCTYPE html>
<html>
    <head>
        <title>Error!</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>
    <body>
        <h1>Error!</h1>
        <main>
            <p class="error">Error for: {{errorMessage}}.</p>
        </main>
    </body>
</html>