<!DOCTYPE html>
<html>
<head>
    <title>People Not Found</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
  <h1>404/400 Not Found</h1>
  <main>
  <p class="error">We're sorry, but no results were found for your Query. Perhaps, You might have left the search box vacant or hit a bad Url.</p>
  </main>
</body>
</html>