<main>
     <p>
        Hey everyone! My site will allow you to search using the first name or the last name of the poeple in our database people. 
        So it will return 20 people with the matching name entered in the search form. Also, the site allows you to click on a
        person's name and return the info of the person.
    </p>
    <form action="/search" method="POST" class="post">
        <label>
            Enter Name:
        </label>
        <input type="text" id="id" name="search"/>
        <input type="submit", value="Submit">
    </form>
    {{{body}}}
</main>